.mouse-icon {
    width: 1.563rem;
    height: 2rem;
    border: 0.125rem solid white;
    border-radius: 0.938rem;
    cursor: pointer;
    position: relative;
    text-align: center;
  }
  
  .mouse-wheel {
    height: 0.375rem;
    margin: 0.125rem auto 0;
    display: block;
    width: 0.188rem;
    background-color: white;
    border-radius: 50%;
    -webkit-animation: 1.6s ease infinite wheel-up-down;
    -moz-animation: 1.6s ease infinite wheel-up-down;
    animation: 1.6s ease infinite wheel-up-down;
  }
  
  @-webkit-keyframes wheel-up-down {
    0% {
      margin-top: 0.125rem;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 1.25rem;
      opacity: 0;
    }
  }
  
  @-moz-keyframes wheel-up-down {
    0% {
      margin-top: 0.125rem;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 1.25rem;
      opacity: 0;
    }
  }
  @keyframes wheel-up-down {
    0% {
      margin-top: 0.125rem;
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      margin-top: 1.25rem;
      opacity: 0;
    }
  }